<aside class="sidebar">
  <h2>SIWES</h2>
  <ul class="menu">
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/admin/institutions">Institutions</a></li>
    <li><a href="/admin/industries">Industries</a></li>
    <li><a href="/admin/students">Students</a></li>
    <li>
      <a href="/admin/industries/supervisors">Industry Supervisors</a>
    </li>
    <li>
      <a href="/admin/institutions/supervisors">Institution Supervisor</a>
    </li>
    <li><a href="/admin/settings">Settings</a></li>
  </ul>
  <div class="admin-footer">@Copyright 2025</div>
</aside>
