<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Internship Portal</title>
  <link rel="stylesheet" href="css/dashboard.css" />
  <link rel="stylesheet" href="css/attendance.css" />
</head>
<body>

  <header class="navbar">
    <h1>Internship Portal</h1>
  </header>

  <div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
      <nav>
        <ul>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/dashboard/allLog">All Log</a></li>
          <li><a href="/dashboard/calender">Calendar</a></li>
          <li><a href="/dashboard/monthlyReport">Monthly Report</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Center Content -->
    <main class="center">
      <div class="report-box">
        <input type="month" name="" id="monthInput">
   <table id="attendanceTable">
    <thead>
      <tr>
        <th>Day</th>
        <th>Date</th>
        <th>Present</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>

  </table>
  <div class="nav-container">
  <div class="nav-buttons">
    <button class="nav-button" onclick="goBack()">
      <span class="arrow">←</span> Back
    </button>
    <button class="nav-button" onclick="goNext()">
      Next <span class="arrow">→</span>
    </button>
  </div>
</div>
      </div>
      
    </main>

    <!-- Right Panel -->
    <aside class="right-panel">
      <div class="card">
        <h3>Tip</h3>
        <p>Remember to save drafts regularly.</p>
      </div>
      <div class="card">
        <h3>Update</h3>
        <p>New internship openings posted!</p>
      </div>
    </aside>

  </div>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script src="/js/attendance.js">
  </script>

</body>
</html>


