<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/admin_specific_student.css" />
    <link rel="stylesheet" href="/css/admin_styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <!-- Nav Bar -->

    <div class="main-area layout">
      <%- include ('../partials/sidebar') %>
      <!--  -->
      <main class="main-content">
        <!--  -->

        <!--  -->
        <%- body %>

        <!--  -->
      </main>
    </div>
  </body>

  <script src="/js/admin_script.js"></script>
</html>
